<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="localhost" />
    <add key="user" value="root" />
    <add key="password" value="rootAccessBeChjKjen@2002@" />
    <add key="database" value="test_maria_db" />
    <add key="port" value="3307" />
  </appSettings>
</configuration>
